body {
  padding : 0px;
  margin  : 0px;
}
/*
.window {
  width:100%;
  height:100%;
}*/

.tbl1 {
  width:100%;
  height:100%;
}

#left_col {
  position:fixed;
  width:14.3%;
  height:99.3%;
  margin-top:-.13%;
  margin-left:-.3%;
  text-align:center;
  border:.1em black solid;
  background-color:black;
}

#right_col {
  position:fixed;
  width:85.3%;
  height:99.33%;
  margin-left:14.17%;
  margin-top:-.15%;
  border:.1em green dashed;
}

#actv {
  color:#99FF33;
}

.nav {
  width:100%; 
  height:13em; 
  margin:0em;
  padding:0em;
  border:0px green dashed;
}

.nav ul {
  text-align:left;
  display:inline;
}

.nav li {
  font-size:25px;
  font-family: 'Amatic SC', cursive;
  margin-bottom:.5em;
  padding:.25em 0em 0em 2.2em;
}

.nav a {
  text-decoration:none;
  color:green;
}

.nav a:hover {
  border:1px blue dashed;
  border-radius:5px;
  text-decoration:underlined;
  color:#99FF33;
  /*background-color:white;*/
}

.nav #us {
  opacity:.3em;
  padding:0em 0em 0em 2.2em;
  margin:0em;
}

.nav #us ul {
  display:inline;
}

.nav #us li {
  font-size: 15px;
  opacity: 1em;
}

#connect1 {
  width:1em;
  height:1em;
  background-color:grey;
}